<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<nav>
  <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/compra">Compra</a></li>
  <li><a href="/venta">Vender</a></li>
  <li><a href="alquiler">Alquiler</a></li>
  <li><a href="/contacto">Contactenos</a></li>
  <li><a href="/temporarios">Alquileres Temporarios</a></li>
  <li><a href="/manejadores">Manejadores</a></li>
  </ul>
</nav>

    {{{body}}}
  </body>
</html>
