body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.holder {
  max-width: 960px;
  margin: 0 auto;
  /* margin: auto; hace que un elemento no inline (podría ser block, flex, etc) con un ancho definido tenga márgenes automático (esto incluye derecha e izquierda) lo cual produce que el bloque se centre.
hace que los elementos por mas ancho que se el monitor queden centrados le agrega un margen automatico tanto a la isquierda como a la derecha
y usamos .antes para seleccionar un elemento.
El punto antes de "mi-clase" le dice al navegador que aplique estas reglas de estilo a todos los elementos que tengan esa clase específica
 las etiquetas como footer nav h2 no llevan punto 
*/
}

h2 {
  color: red;
  font-weight: 400;
}
header {
  background-color: red;
  padding: 15px 0;
}

header img {
  margin-left: 15px;
}

header h2 {
  color: white;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  position: relative;
  bottom: 30px;
  margin-left: 20px;

}

.holder {
  max-width: 960px;
  margin: 0 auto;
  /* margin: auto; hace que un elemento no inline (podría ser block, flex, etc) con un ancho definido tenga márgenes automático (esto incluye derecha e izquierda) lo cual produce que el bloque se centre.
hace que los elementos por mas ancho que se el monitor queden centrados le agrega un margen automatico tanto a la isquierda como a la derecha
y usamos .antes para seleccionar un elemento.
El punto antes de "mi-clase" le dice al navegador que aplique estas reglas de estilo a todos los elementos que tengan esa clase específica
 las etiquetas como footer nav h2 no llevan punto 
*/
}
























