<div class="container" style="margin-top:100px">
    <div class="row">
        <div class="col offset-1">
            <h4>Agregar nueva Propiedad</h4>

            <form action="/admin/novedades/comprar" method="post">
                <div class="mb-3 row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Titulo" name="titulo">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" placeholder="Zona" name="zona"></textarea>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" placeholder="Tipo" name="tipo"></textarea>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" placeholder="Precio u$s" name="precio"></textarea>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" placeholder="Descripcion de la Propiedad"
                            name="descripcion"></textarea>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" placeholder="Imagen" name="img"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>