.contacto {
    display: flex;
    gap: 24px;
    /*separa los dos div o dos caja como que le pone una columna al medio*/

}

.contacto div {
    width: 100%;
}

.datos p {
    font-size: 13px;
}

.datos ul li {
    font-size: 13px;
}


.formulario p {
    display: flex;
}

.formulario p label {
    min-width: 100px;
    /* min-width ancho minimo de un elemento*/
}

.formulario p label {
    display: flex;
    align-items: center;

}

.formulario p:nth-child(4) {
    /*p:nth-clhild (4) estamos indicanco que el cuarto parrafo tal cosa*/
    align-items: start;
}

.formulario p input,
.formulario p textarea {
    width: 100%;
}

.formulario p input,
.formulario p textarea {
    background-color: rgb(224, 225, 229);
    border-radius: 5px;
    border: 1px solid rgb(140, 141, 142);
    font-size: 14px;
    padding: 6px 10px;
}

.formulario p textarea {
   
    /*resize: se usa para que el cliente pueda agrandar el area con esas rayitas abajo a la derecha si no quiero que lo pueda modificar le pongo none*/
    height: 150px;
}

/*fin contacto*/
/*inicio clases del boton*/
.formulario input[type="submit"] {
    background: rgb(142, 142, 243);
    width: auto;
    position: relative;
    left: 99px;
    cursor: pointer;
    /*para que aparesca la manito en el cursor*/
    box-shadow: 0 0 10px rgb(140, 141, 142);
    color: white;
    padding: 6px 15px;
    font-size: 16px;
}

.formulario input[type="submit"]:hover {
    background-color: rgba(146, 187, 249, 0.889);
}

/*fin clase del boton*/